@model IEnumerable<FourWheels.Web.Models.CarViewModels.CarAdBasicInfoViewModel>

@{ 
    ViewBag.Title = "Welcome";
}

<h1>Latest car ads</h1>

<div class="row" align="center">
    @foreach (var item in @Model)
    {
        @Html.Partial("_CarAdBasicInfoPartial", item);
    }
</div>

