@model IEnumerable<FourWheels.Web.Models.CarViewModels.CarAdBasicInfoViewModel>

@{
    ViewBag.Title = "Welcome";
}


<div class="container-fluid">
    @Html.Action("LoadSearchBar", "CarAd", null)
</div>

<div class="container-fluid">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Latest car ads</legend>
        @foreach (var item in @Model)
        {
            @Html.Partial("_CarAdBasicInfoPartial", item);
        }
    </fieldset>
</div>