@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<div class="row text-center" id="greetingDiv">
    <h1>All roads lead to FourWheels</h1>
    <br />
    <p>@Html.ActionLink("Take Me There", "HomeIndex", "Home", null, new { @class = "btn-success btn-lg" })</p>

</div>
